body {
    background-color:#F5F7FA;
    font-family: 'Montserrat', sans-serif;
}
 

.main-section{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    height: 1319px;
    left: 40px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    
}
.main-content{
    padding: 100px 90px 100px 90px;
}
.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: black;
    margin-bottom: 20px;
}

/*about me section*/

.about-me-profession {
    color: #33d350;;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 17px;
    margin-bottom: 20px;

}
.main-title{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
}

.about-me-info{
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #181818;
    width: 650px;
    margin-bottom: 35px;
}

/*my-projects-section*/
.my-projects{
    
    margin-bottom:35px;
}
.my-projects-list{
    padding-left: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
}
.code-link{
    color: #4d4d4d;
    font-weight: normal;
    margin-right: 3px;
}
.my-projects-link{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #33d350;;
    margin-left: 5px ;
    text-decoration: none;
}
.dots{
    color: #4d4d4d;
}
.projects-item{
    color: black;
    font-weight: bold;
}
.my-project-languages{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}
.experience{
    margin-bottom: 35px;
}
.my-work-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: black;
    margin-bottom: 10px;
}
.name-of-company{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #33d350;;
    margin-bottom: 10px;
}
.working-terms{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #4d4d4d;
}
.term-divider{
    color: black;
    margin: 0 5px 0 5px;
}
.work-experience-list{
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #181818;
    padding-left: 17px;
    margin-bottom: 15px;
}
/*education section*/
.name-of-university{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #33d350;;
    margin: 10px 0 0 0;
}
.study-direction{
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    margin: 10px 0 10px 0;
}
.term-of-study{
    font-size: 14px;
    line-height: 15px;
    color: #4d4d4d;
}
/*sidebar section*/
.sidebar{
    background:#1E2939;
    color: #ffffff;
    width: 370px;
    left: 87px;
    top: 63px;
    padding: 20px 0;
}
.photo {
    width: 370px;
}
.contacts-section {
    margin: 14px 0 0 40px;
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #33d350;
    margin-bottom: 10px;
}
.contacts {
    margin: 0;
    padding: 0;
}
.contacts-list{
    display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
}
.contacts-list li:not(:last-child){
    margin-right: 7px;
}
.contacts-section-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}
.tech-skills-section, .soft-skills-section,
.methodology-section, .lang-section {
    margin: 14px 0 0 40px;
    padding-right: 20px;

}
.tech-skills-list {
    padding-left: 17px;
}
.tech-skills-item {
    color: #33d350;;
}
.tech-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

/*soft skils section*/

.soft-skills-list, .methodology-list{
    padding-left: 17px; 
}

.soft-skills-item,
.methodology-item, .lang-item{
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}